@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgb(229 9 20);
  border-radius: 10px;
}

@layer base {
  body {
    @apply bg-neutral-950 text-white;
  }

  header {
    @apply flex w-full items-center justify-between p-4 fixed top-0 z-50 transition-all lg:p-8;
  }
}

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hideScrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hideScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
